<div class="overlay"></div>

<header class="px-10 my-8">
  <nav class="flex justify-between items-center">
    <div>
      <h1 class="text-white font-bold text-3xl my-2">Menu</h1>
    </div>
    <div>
      <img src="/assets/logo.png" alt="logotipo" class="h-20 pr-1 mx-auto" />
    </div>
  </nav>
</header>

<section class="px-10 grid sm:gap-x-8 md:gap-x-16 lg:gap-x-32 sm:grid-cols-2">
  <ng-container *ngFor="let section of menuSections">
    <div class="mt-16">
      <app-menu-section-title [text]="section.title" />
      <div *ngFor="let item of section.items">
        <app-menu-item [text]="item.text" [description]="item.description" [value]="item.value" />
      </div>
    </div>
  </ng-container>
</section>


<footer class="text-center py-20">
  <p class="text-white">Made by NovaBlue&copy;{{ 2023 }}</p>
</footer>

<router-outlet></router-outlet>
